.menu_block
  .menu_block_item
    = link_to "Все платежи", payments_path
  /.menu_block_item
  /  = link_to "Снятия", payments_withdrawals_path
  /.menu_block_item
  /  = link_to "Внесения", payments_deposits_path
