.mt-8.font-extralight{ class: local_assigns[:class] }
  Возникли проблемы?
  .text-blue-600.hover:text-blue-600.visited:text-blue-600
    = link_to 'https://google.com', target: :blank do
      = fa_icon 'telegram'
      %span.underline
        Напишите нам!
