<div class="container">
  <h1 class="mt-2">Products</h1>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-6 col-md-4">
        <div class="card m-2">
          <%= link_to product_path(product), style: "text-decoration: none; color: black;" do %>
            <div class="card-body">
              <h5 class="card-title"><%= product.name %></h5>
              <%= cl_image_tag product.photos.first.key, class:"img-fluid d-block", crop: :fill %>
              <p class="card-price text-center mt-2">Price: <%= product.price_cents %>₽</p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
