.show-payment
  .show-payment-block
    .proc-head
      - if payment.logo_image_tag.present?
        = payment.logo_image_tag
      - else
        .proc-logo
      .proc-text
        UID Check
    .proc-payment-done-block
      .proc-payment-done-img
      Успешно!
      .mt-4
        Платеж выполнен!

    .proc-payment-done-links-block
      = link_to "вернуться в магазин", payment.redirect_url

    = render 'payments/uuid', payment:, class: 'text-center'

  - if payment.arbitration
    = render 'shared/chat', payment:
