.proc_head
  .proc_logo
  .proc_text
    UID Check

%br
  .mt-70
    %p Вы получили деньги?
    = form_for payment, url: payments_statuses_withdrawal_path(uuid: payment.uuid, signature:), action: :update,
      data: { turbo_confirm: 'Вы уверены, что полностью получили платёж и хотите его подтвердить?' } do |f|
      = hidden_field_tag :event, 'confirm'
      = f.submit 'Подтвердить', confirm: 'Вы уверены, что хотите отменить платёж?',
        class: 'confirm-payment-system-choose'

      - unless payment.arbitration
        = render "/shared/tg_link"
