.show-payment
  .show-payment-block
    .proc-head
      .proc-logo
      .proc-text
        UID Check

    .proc-payment-waiting-block
      .proc-payment-waiting-img
      Идёт подготовка платежа
      .mt-2
        Ожидайте пожалуйста...

    = render 'payments/uuid', payment:, class: 'text-center'

  - if payment.arbitration
    = render 'shared/chat', payment:
