.proc-head
  .proc-logo
  .proc-text
    UID Check

.proc-payment-waiting-block
  .proc-payment-waiting-img
  Идёт подготовка платежа
  .mt-2
    Ожидайте пожалуйста...

- if payment.arbitration
  = render "/shared/tg_link", class: 'text-center'

= render 'payments/uuid', payment:, class: 'text-center'
