.show-payment
  -unless browser.device.mobile? || browser.device.tablet?
    .show-second-block
  .show-payment-block
    .proc-head
      .proc-logo
      .proc-text
        UID Check

    .proc-payment-waiting-block
      .proc-payment-waiting-img
      Переводим деньги...

    = render 'payments/uuid', payment:, class: 'text-center'

  - if payment.arbitration
    = render 'shared/chat', payment:

  -unless browser.device.mobile? || browser.device.tablet?
    .show-second-block
      = render 'payments/qr_code', payment: payment
