= render 'shared/payment_receipt', payment:, role_namespace:

:javascript
  function displayFileName(input) {
    var fileText = document.getElementById('file-text');
    if (input.files && input.files[0]) {
      var fileName = input.files[0].name.slice(0, 25);
      fileText.textContent = fileName + '...';
    } else {
      fileText.textContent = 'PDF/JPG/PNG';
    }
  }
