= turbo_frame_tag 'content' do
  %section.wrap
    = render 'stats'
    .card-wrap
      .item-card
        %h1.mb-4 Все платежи
        = render 'table', payments: @payments

        = render 'shared/pagination', pagy: @pagy