%section.wrap
  .card-wrap
    .item-card
      .flex.mb-4.items-center
        .text-xl
          Редактировать приложение
          = "(ID: #{@telegram_application.id})"
      .mt-8.my-4
        = render 'form'
      .back-link
        = link_to '<- К списку приложений', telegram_applications_path
