= turbo_frame_tag 'content' do
  %section.wrap
    .card-wrap
      .item-card
        .card-head
          %h1 Платёжные системы

        %span.hint
          Рекомендуется использовать выпадающий список "Использовать курс", если используется один и тот же курс на несколько платежных систем.
          %br
          При выборе курса из выпадающего списка "Использовать курс" все остальные параметры (позиция, сумма для мониторинга)
          %br
          не будут учитываться для этой платежной системы, а будут копироваться из указанной.

        = render 'table', payment_systems: @payment_systems
