- if notice || alert
  .alert-block.text-xs.text-gray-900.font-light.mt-8.mx-10.block.rounded-lg.shadow-md.shadow-slate-100.bg-white.border
    - if notice
      .alert.alert-danger.py-4.px-2
        .flex.items-center
          .text-xl.pl-2.pr-4
            = fa_icon 'exclamation-circle'
          %div= notice
    - if alert
      .alert.alert-danger.py-4.px-2
        .flex.items-center
          .text-xl.pl-2.pr-4
            = fa_icon 'exclamation-circle'
          %div= alert
