%section.wrap
  .card-wrap
    .item-card
      .flex.mb-4.items-center
        .text-xl.flex-1= "Транзакция (ID: #{@transaction.id})"
      .mt-8.my-4
        = render @transaction
      .back-link
        = link_to "<- К списку транзакций", transactions_path
