= turbo_frame_tag 'content' do
  %section.wrap
    .card-wrap
      .item-card
        .card-head
          %h1 Операторы
          = link_to '+ Добавить оператора', new_processer_path, class: 'form-submit'

        = render 'table', processers: @processers

        .card-wrap
          = render 'shared/pagination', pagy: @pagy
