%section.wrap
  .card-wrap
    .item-card
      .flex.mb-4.items-center
        .text-xl.flex-1= "Курс (ID: #{@rate_snapshot.id})"
      .mt-8.my-4
        = render @rate_snapshot
      .back-link
        = link_to "<- К списку курсов", rate_snapshots_path






