<details>
<summary><h2>Создание депозита</h2></summary>

<details>
<summary><h3>Отправка запроса</h3></summary>

Для отправки запроса нужно сформировать тело (Request body, пример ниже) в
формате JSON со следующими параметрами:

<table>
  <thead>
    <tr>
      <th>Параметр</th>
      <th>Название</th>
      <th>Тип</th>
      <th>Наличие</th>
      <th>Описание</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>payment_system</code></td>
      <td>Платёжная система</td>
      <td>String</td>
      <td>Опционально</td>
      <td>Платёжная система для переводов в национальной валюте. Если не указана, ищется объявление любого банка в национальной валюте.</td>
    </tr>
    <tr>
      <td><code>national_currency</code></td>
      <td>Национальная валюта</td>
      <td>String</td>
      <td>Обязательно</td>
      <td>Укажите валюту, в которой клиент будет вносить деньги.</td>
    </tr>
    <tr>
      <td><code>national_currency_amount</code></td>
      <td>Сумма</td>
      <td>Number</td>
      <td>Обязательно</td>
      <td>Укажите сумму платежа.</td>
    </tr>
    <tr>
      <td><code>external_order_id</code></td>
      <td>Внешний ID заявки</td>
      <td>String</td>
      <td>Опционально</td>
      <td>Укажите ID платежа или заявки в Вашей системе, чтобы можно было по нему отследить платёж у нас.</td>
    </tr>
    <tr>
      <td><code>unique_amount</code></td>
      <td>Уникализация суммы</td>
      <td>String</td>
      <td>Опционально</td>
      <td>
        Может иметь значения: <strong>none</strong>, <strong>integer</strong>, <strong>decimal</strong>.</br>
        По умолчанию - none.</br>
        Если выбрано integer или decimal, то сумма платежа может быть подменена на</br>
        уникальную в случае, если в обработке у оператора уже находится другой</br>
        платеж с такой же суммой.</br>
        Integer — подменяет сумму платежа на уникальную путем уменьшения на 1 единицу валюты</br>
        (например 1000 -&gt; 999). </br>
        Decimal — подменяет сумму платежа на уникальную путем уменьшения на 0.01 (например 1000 -&gt; 999.99)</br>
      </td>
    </tr>
    <tr>
      <td><code>callback_url</code></td>
      <td>Ссылка обратного вызова</td>
      <td>String</td>
      <td>Обязательно</td>
      <td>Укажите Вашу ссылку обратного вызова, для POST запросов об изменениях статуса.</td>
    </tr>
  </tbody>
</table>

</details> <!-- request -->

<details>
<summary><h3>Ответ на запрос</h3></summary>

В случае успешного создания депозита вы получите ответ с кодом 201 и JSON-ом в
теле ответа со следующими полями:

| Параметр                   | Название                     | Тип    | Наличие     | Описание                                                                    |
|----------------------------|------------------------------|--------|-------------|-----------------------------------------------------------------------------|
| `id`, `uuid`               | Идентификатор платежа        | String | Обязательно | Уникальный идентификатор, для возможного дальнейшего обращения              |
| `type`                     | Тип                          | String | Обязательно | Deposit, Withdrawal                                                         |
| `card_number`              | Номер карты                  | String | Обязательно | Номер карты в выбранной при запросе платёжной системе                       |
| `expiration_time`          | Время действия платежа       | String | Обязательно | Время, в течении которого необходимо осуществить перевод                    |
| `national_currency`        | Национальная валюта          | String | Обязательно | Валюта для перевода                                                         |
| `national_currency_amount` | Сумма                        | String | Обязательно | Сумма для перевода                                                          |
| `initial_amount`           | Начальное количество         | String | Обязательно | Изначальная сумма в национальной валюте                                     |
| `payment_link`             | Платёжная ссылка             | String | Опционально | Ссылка платёжной системы для быстрого перевода                              |
| `payment_link_qr_code_url` | URL QR-кода платёжной ссылки | String | Опционально | URL адрес SVG изображения QR-кода для быстрого перехода по платёжной ссылке |
| `cryptocurrency_commission_amount` | Комиссия в криптовалюте | Number | Обязательно | Общая сумма комиссии, которая будет удержана из суммы платежа в криптовалюте (USDT) |
| `national_currency_commission_amount` | Комиссия в нац. валюте | Number | Обязательно | Общая сумма комиссии, которая будет удержана из суммы платежа в национальной валюте. Все расчеты комиссий происходят в криптовалюте USDT по актуальному курсу на момент создания платежа. Комиссия в национальной валюте - это (комиссия в криптовалюте * актуальный курс) |
| `card_owner_name` | Имя владельца карты | String | Опционально | Имя владельца карты в выбранной при запросе платёжной системе |
| `sbp_phone_number` | Номер телефона СБП | String | Опционально | Номер телефона СБП |

</details> <!-- response -->

</details>

После успешного ответа вы должны будете отобразить клиенту номер карты `card_number` и сумму `national_currency_amount` для перевода. Далее клиент должен нажать кнопку, что он перевел деньги и после нажатия этой кнопки вы отправляете нам запрос `PATCH /api/v1/external_processing/payments/{uuid}/statuses/{event}` с ивентом `check` (документация по запросу есть ниже). После отправки этого запроса вы получите ответ успешный код 204 и платеж перейдет в статус подтверждения `confirming`, после чего вам нужно будет ожидать финальный статус на ваш вебхук `callback_url`, который вы указали. Финальный статусы `completed` - успешный и `cancelled` - платеж отменен.

<%- @payment_type = 'Deposit' %>
<%= render 'external_processing/payments/_callback_url.md.erb' %>
