## Создание чека платежа

Для отправки запроса нужно указать уникальный идентификатор платежа **uuid** в
адресной строке POST-запроса
`/api/v1/external_processing/payments/{uuid}/payment_receipts`.

В теле `multipart/form-data` запроса передать следующие параметры:

| Параметр            | Название              | Тип     | Наличие     | Описание                                                                                                                              |
|---------------------|-----------------------|---------|-------------|---------------------------------------------------------------------------------------------------------------------------------------|
| `image`             | Изображение           | File    | Обязательно | Изображение чека                                                                                                                      |
| `comment`           | Комментарий           | String  | Опционально | Комментарий к чеку                                                                                                                    |
| `receipt_reason`    | Причина отправки чека | String  | Опционально | Может иметь значения: **check_by_check** - Проверить по чеку, **incorrect_amount_check** - Перевели неверную сумму, проверить по чеку |
| `start_arbitration` | Открыть арбитраж      | Boolean | Опционально | **true** если необходимо открыть арбитраж для платежа                                                                                 |

<br>

## Примеры использования

Возможны два основных сценария использования.

<details>
<summary><h3>Ускорение обработки платежа</h3></summary>

Если клиент хочет ускорить проведение платежа с помощью чека, для этого надо
просто загрузить чек и указать параметр `start_arbitration: false`, причину
отправки `receipt_reason` указывать не нужно.

Комментарий опционально — можно добавить, но необязательно.

Пример:

| Параметр            | Значение                  |
|---------------------|---------------------------|
| `image`             | Прикреплённое изображение |
| `comment`           | `"Перевод на карту 3000"` |
| `start_arbitration` | `false`                   |

</details>

<details>
<summary><h3>Оспаривание, открытие диспута/арбитража.</h3></summary>

Если платёж был отменён и клиент хочет это оспорить, надо загрузить чек, указать
параметр `start_arbitration: true` и причину отправки чека `receipt_reason`.

Комментарий опционально — можно добавить, но необязательно.

Пример:

| Параметр            | Значение                  |
|---------------------|---------------------------|
| `image`             | Прикреплённое изображение |
| `receipt_reason`    | `"check_by_check"`        |
| `start_arbitration` | `true`                    |

</details>
