<details>
<summary><h2>Создание вывода средств</h2></summary>

<details>
<summary><h3>Отправка запроса</h3></summary>

Для отправки запроса нужно сформировать тело (Request body, пример ниже) в формате JSON со
следующими параметрами:

| Параметр                   | Название                | Тип    | Наличие     | Описание                                                                                       |
|----------------------------|-------------------------|--------|-------------|------------------------------------------------------------------------------------------------|
| `payment_system`           | Платёжная система       | String | Опционально | Платёжная система для переводов в национальной валюте. Если не указана, берётся любая в национальной валюте из найденного объявления. |
| `card_number`              | Номер карты             | String | Обязательно | Номер карты в выбранной платёжной системе.                                                      |
| `national_currency`        | Национальная валюта     | String | Обязательно | Укажите валюту, в которой клиент хочет получить деньги.                                         |
| `national_currency_amount` | Сумма                   | Number | Обязательно | Укажите сумму платежа.                                                                          |
| `external_order_id`        | Внешний ID заявки       | String | Опционально | Укажите ID платежа или заявки в Вашей системе, чтобы можно было по нему отследить платёж у нас. |
| `callback_url`             | Ссылка обратного вызова | String | Обязательно | Укажите Вашу ссылку обратного вызова, для POST запросов об изменениях статуса.                  |
| `cryptocurrency_commission_amount` | Комиссия в криптовалюте | Number | Обязательно | Общая сумма комиссии, которая будет удержана из суммы платежа в криптовалюте (USDT). |
| `national_currency_commission_amount` | Комиссия в нац. валюте | Number | Обязательно | Общая сумма комиссии, которая будет удержана из суммы платежа в национальной валюте. Все расчеты комиссий происходят в криптовалюте USDT по актуальному курсу на момент создания платежа. Комиссия в национальной валюте - это (комиссия в криптовалюте * актуальный курс) |

</details> <!-- request -->

<details>
<summary><h3>Ответ на запрос</h3></summary>

В случае успешного создания вывода средств вы получите ответ с кодом 201 и JSON-ом в
теле ответа со следующими полями:

| Параметр                   | Название                     | Тип    | Наличие     | Описание                                                                    |
|----------------------------|------------------------------|--------|-------------|-----------------------------------------------------------------------------|
| `id`, `uuid`               | Идентификатор платежа        | String | Обязательно | Уникальный идентификатор, для возможного дальнейшего обращения              |
| `type`                     | Тип                          | String | Обязательно | Deposit, Withdrawal                                                         |
| `card_number`              | Номер карты                  | String | Обязательно | Номер карты в выбранной при запросе платёжной системе                       |
| `expiration_time`          | Время действия платежа       | String | Обязательно | Время, в течении которого необходимо осуществить перевод                    |
| `national_currency`        | Национальная валюта          | String | Обязательно | Валюта для перевода                                                         |
| `national_currency_amount` | Сумма                        | String | Обязательно | Сумма для перевода                                                          |
| `payment_system`           | Платёжная система            | String | Обязательно | Платёжная система для перевода                                              |
| `initial_amount`           | Начальное количество         | String | Обязательно | Изначальная сумма в национальной валюте                                     |
| `payment_link`             | Платёжная ссылка             | String | Опционально | Ссылка платёжной системы для быстрого перевода                              |
| `payment_link_qr_code_url` | URL QR-кода платёжной ссылки | String | Опционально | URL адрес SVG изображения QR-кода для быстрого перехода по платёжной ссылке |
| `cryptocurrency_commission_amount` | Комиссия в криптовалюте | Number | Обязательно | Общая сумма комиссии, которая будет удержана из суммы платежа в криптовалюте (USDT) |
| `national_currency_commission_amount` | Комиссия в нац. валюте | Number | Обязательно | Общая сумма комиссии, которая будет удержана из суммы платежа в национальной валюте. Все расчеты комиссий происходят в криптовалюте USDT по актуальному курсу на момент создания платежа. Комиссия в национальной валюте - это (комиссия в криптовалюте * актуальный курс) |
| `card_owner_name` | Имя владельца карты | String | Опционально | Имя владельца карты в выбранной при запросе платёжной системе |
| `sbp_phone_number` | Номер телефона СБП | String | Опционально | Номер телефона СБП |

</details> <!-- response -->

<details>
<summary><h3>Дальнейшее изменение статуса платежа</h3></summary>

После успешного ответа вам нужно ожидать статуса `confirming` на вашем вебхуке
`callback_url`, который вы указали.

Далее у клиента должна отобразиться кнопка, что он успешно получил деньги на
свою карту. По нажатию этой кнопки, вам нужно отправить запрос `PATCH
/api/v1/external_processing/payments/{uuid}/statuses/{event}` с ивентом
`confirm` (документация по запросу есть выше). После этого вам должен прийти на
`callback_url` финальный статус `completed` - успешно.

</details> <!-- payment statuses event -->


</details>


<%- @payment_type = 'Withdrawal' %>
<%- @payment_type_ru_rp = 'вывода средств' %>
<%= render 'payments/_callback_url.md.erb' %>
