-# - if payment_status_partial_exists?(payment, 'processers')
-#   = render payment_status_partial(payment, 'processers'), payment:, signature:, role_namespace:

= render 'shared/staff/payments/payment', payment:, signature:, role_namespace:
