- unless payment.arbitration
  = simple_form_for payment, url: payment_path(payment), action: :update,
            data: { turbo_confirm: 'Вы уверены, что хотите отправить платёж на арбитраж?' } do |f|
    = f.hidden_field :arbitration, value: true
    .flex
      .mt-auto.mr-1
        = f.select :arbitration_reason, processer_payment_arbitration_reasons_collection, {include_blank: true}, class: 'form-input-select h-[40px] text-xs'
      .mt-auto
        = f.submit 'На арбитраж', class: 'red-button h-[40px] text-xs'
