= turbo_frame_tag "processers_payment_#{@payment.uuid}" do
  %div{ data: { controller: 'payments' } }
    = render payment_status_partial(payment, 'processers') || 'common_show', payment:, signature:
