= turbo_frame_tag "processers_#{@payment.uuid}_show" do
  %div{ data: { controller: 'payments' } }
    = render "processers/payments/withdrawals/#{@payment.payment_status}", payment: @payment, signature: nil
