= turbo_frame_tag 'content' do
  %section.wrap
    .card-wrap
      .item-card
        .card-head
          %h1 Арбитражи по чеку
        = render 'table', payments: @payments

        .card-wrap
          = render 'shared/pagination', pagy: @pagy
