= turbo_frame_tag 'content' do
  %section.basis-full
    %h1.text-xl.my-10 Ждут оплаты
    = render 'table', payments: @withdrawals_transferring
    %h1.text-xl.my-10 Ждут подтверждения
    = render 'table', payments: @deposits_confirming
    %h1.text-xl.my-10 Остальные платежи
    = render 'table', payments: @payments
