= turbo_frame_tag 'content' do
  %section.basis-full
    %h1.mb-4 Ждут оплаты
    = render 'table', payments: @withdrawals_transferring
    %h1.mt-8.mb-4 Ждут подтверждения
    = render 'table', payments: @deposits_confirming
    %h1.mt-8.mb-4 Остальные платежи
    = render 'table', payments: @payments
