%section.wrap
  .filters-wrap
    .item-card
      %h1.mb-4.text-xl Фильтры
      = render incoming_request_filters_partial(current_user)

  .card-wrap
    .item-card
      %h1.mb-4.text-xl Реестр платежей

      = render 'shared/staff/incoming_requests/table', incoming_requests: @incoming_requests
      
      .card-wrap
        = render 'shared/pagination', pagy: @pagy
