.proc_head
  .proc_logo
  .proc_text
    UID Check

.proc_payment_cancelled_block
  .proc_payment_cancelled_img
  %p Платеж отменён !

.proc_payment_cancelled_links_block
  = link_to "вернуться в магазин", payment.redirect_url
