.proc_head
  .proc_logo
  .proc_text
    UID Check

.proc_payment_done_block
  .proc_payment_done_img
  %p Успешно!
  %p Платеж выполнен!

.proc_payment_done_links_block
  = link_to "вернуться в магазин", payment.redirect_url
