.proc-head
  .proc-logo
  .proc-text
    UID Check

.proc-payment-waiting-block
  .proc-payment-waiting-img
  Идёт обработка
  .mt-2
    Ожидайте пожалуйста...

.mt-4
  = render 'payments/alerts_block'