.show-payment
  .show-payment-block
    .proc-head
      .proc-logo
      .proc-text
        UID Check

    .proc-payment-waiting-block
      .proc-payment-waiting-img
      = t('payments.payment processing')
      .mt-2
        = t('payments.expectation')

    = render 'payments/uuid', payment:

  - if payment.arbitration
    = render 'shared/chat', payment:
