.proc_send_summ
  %b
    1. Откройте банковское приложение 
    %br
    и отправьте указанную сумму.
  %br
  .proc_send_summ
    .text-gray-500
      Сумма должна быть в точности та, что указана на экране.

.proc_send_summ
  %b
    2. Пожалуйста, добавьте чек 
    %br
    с подтверждением платежа.
  %br
    .proc_send_summ
      .text-gray-500
        Добавление чека позволит нам обработать Ваш платеж значительно быстрее