.proc-head
  .proc-logo
  .proc-text
    UID Check

.proc-payment-waiting-block
  .proc-payment-waiting-img
  Идёт подготовка платежа
  .mt-2
    Ожидайте пожалуйста...

.alerts-block
  .text-red
    Внимание:
  .my-2
    1) при отправке денежных средств писать сообщения в приложении категорически запрещено.
  .my-2
    2) платеж должен быть выполнен в точности на указанную сумму, включая все знаки после запятой.
  .my-2
    %p 
    3) средства необходимо отправлять строго внутрибанковским переводом, банк отправитель и банк получатель должны быть одинаковыми. В противном случае зачисление оплаты не гарантируется.
