.show_content{:class => "mx-auto my-20 w-1/4"} 
  = render 'show'

  %p.text-gray-300
    uuid: 
    = @payment.uuid
    - if user_signed_in?
      = "(payment_status: \"#{@payment.reload.payment_status}\")"
