= turbo_frame_tag "processer_#{user.id}_ad_hotlist" do
  - if deposit_hotlist_advertisements(user).present?
    %section.wrap
      .card-wrap
        .flow-item-card
          %table.w-full
            %thead.item-list-thead
              %tr
                %th.items-list-th-link-flow.flow-table-text.font-firs ID
                %th.items-list-th-text-left-card.flow-table-text.font-firs КАРТА
                %th.items-list-th-text-left-comment.flow-table-text.font-firs КОММЕНТ
                %th.items-list-th-text-left-payments.flow-table-text.font-firs
                  ПЛАТЕЖИ -
                  %span.text-green ДЕПОЗИТ
                - deposit_hotlist_advertisements(user).each do |advertisement|
                  = render 'processers/advertisements/hotlist_advertisement', advertisement:

  - if withdrawal_hotlist_advertisements(user).present?
    %section.wrap
      .card-wrap
        .flow-item-card
          %table.w-full
            %thead.item-list-thead
              %tr
                %th.items-list-th-link-flow.flow-table-text.font-firs ID
                %th.items-list-th-text-left-card.flow-table-text.font-firs КАРТА
                %th.items-list-th-text-left-comment.flow-table-text.font-firs КОММЕНТ
                %th.items-list-th-text-left-payments.flow-table-text.font-firs
                  ПЛАТЕЖИ -
                  %span.text-blue ВЫВОД
                - withdrawal_hotlist_advertisements(user).each do |advertisement|
                  = render 'processers/advertisements/hotlist_advertisement', advertisement:
