.m-1
  .toast{ 'data-controller': 'countdown', class: (payment.decorate.flow_class), style: 'max-width: auto; min-width: 100px; height: 50px;' }
    .text-xs.p-1
      .font-medium.font-firs.text-size-13
        = number_with_precision(payment.national_currency_amount, precision: 2)
      .flex.items-center
        .toast-header-time-text.font-firs.text-size-11.countdown{ data: { end_time: payment.decorate.countdown_end_time, 'countdown-target': 'countdown' } }
          = payment.decorate.countdown
        - if payment.image.present? && !payment.arbitration
          .flex-grow
          = image_tag('/lightning.svg', class: 'inline-block align-middle mr-1', style: 'width: 15px; height: 15px;')
