.notification.mb-2.hidden{ 'data-controller': 'notifications' }
  = link_to payment_path(payment), data: { turbo: false } do
    = render 'processers/payments/hotlist_payment', payment: payment.decorate

