- if payment.arbitration
  = form_for payment, url: payment_path(payment), action: :update,
             data: { turbo_confirm: 'Вы уверены, что хотите вернуть платёж в работу?' } do |f|
    = f.hidden_field :arbitration, value: false
    = f.submit 'Вернуть в работу', class: 'form-submit'
- else
  = render 'shared/management/payments/to_arbitration_button', payment:, role_namespace:
