.flex
  = select_tag 'event', options_for_select(support_payment_permitted_transitions_collection(payment)), { class: 'form-input-select w-full text-xs' }
  %button.form-submit.px-4.ml-2{name: 'fire_event', value: '!'}= fa_icon 'check'
