= turbo_frame_tag 'content' do
  %section.wrap
    .card-wrap
      .item-card
        %h1.mb-4 На арбитраже
        = render 'table', payments: @arbitration_payments
    .card-wrap
      .item-card
        %h1.mb-4 Все платежи
        = render 'table', payments: @payments
