= turbo_frame_tag 'content' do
  = turbo_stream_from "supports_payment_#{@payment.uuid}"

  .show_content
    = render 'supports/payments/show_turbo_frame', payment: @payment, signature: nil, role_namespace:
