%table.items-list-table
  %thead.items-list-thead
    %tr
      %th.items-list-th Название
      %th.items-list-th Валюта
      %th.items-list-th Оборот по депозитам
      %th.items-list-th Оборот по выводам

  %tbody
    - merchants.each do |merchant|
      %tr.items-list-tr
        %td.items-list-td= merchant.decorate.display_name
        %td.items-list-td= merchant.balance.currency
        %td.items-list-td= merchant.deposits_turnover(filtering_params)&.round(2)
        %td.items-list-td= merchant.withdrawals_turnover(filtering_params)&.round(2)
