.alerts-block
  .text-red.font-semibold
    Внимание:
  .my-0.5 
    1) при отправке денежных средств писать сообщения в приложении категорически запрещено.
  .my-4
    2) платеж должен быть выполнен в точности на указанную сумму, включая все знаки после запятой.
  .my-4 
    3) средства необходимо отправлять строго внутрибанковским переводом, банк отправитель и банк получатель должны быть одинаковыми. В противном случае зачисление оплаты не гарантируется.
