= simple_form_for payment, url:, action: :update,
  data: { turbo_confirm: t('payments.confirmation_transfer_cancellation') } do |f|
  = hidden_field_tag :event, 'cancel' 
  = f.submit t('payments.cancellation_payment'), class: 'proc-payment-cancelled-links-dw'
