.show-qr-block
  .show-qr
    = render_qr_code(payment.decorate.url)
  .text-qr-instruction
    = t('payments.deposit.attributes.qr_manual_1')
    .text
      = t('payments.deposit.attributes.qr_manual_2')