= simple_form_for payment, url: payment.form_url, action: :update do |f|
  .select-submit-container
    = f.select :locale, language_options, {}, { class: 'form-input-select text-sm select-locale', onchange: 'this.form.requestSubmit()' }
