= simple_form_for payment, url: payments_deposit_path(uuid: payment.uuid, signature:), action: :update do |f|
  .select-submit-container
    = f.select :locale, language_options, {}, { class: 'form-input-select text-sm', onchange: 'this.form.requestSubmit()' }
