%section.wrap
  .card-wrap
    .item-card
      .flex.mb-4.items-center
        .text-xl.flex-1= "Обменный портал (ID: #{@exchange_portal.id})"
      .mt-8.my-4
        = render @exchange_portal
      .back-link
        = link_to "<- К списку бирж", exchange_portals_path
