= simple_form_for @mask, url: mask_path(@mask) do |f|
  = f.input :regexp_type, collection: ["Номер счёта", "Сумма"], include_blank: '-выбрать-'
  = f.input :regexp
  = f.submit 'Сохранить', class: 'form-submit'