%section.wrap
  .card-wrap
    .item-card
      .flex.mb-4.items-center
        .text-xl
          Создать новую маску

          .mt-8.my-4
            = render 'form'
          .back-link
            = link_to '<- К списку масок', masks_path
