/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

.menu_block{
  /*border: 1px solid grey;*/
}

button, input[type=submit] {
  cursor: pointer;
}

.show_payment_block{
  border: 1px solid #dedede;
  border-radius: 12px;
  width: 340px;
  padding: 20px 20px 20px 20px;
  /*color:red;*/
  margin: 0 auto  ;
  
  min-height: 630px;
  background-color: white;

}

.proc_head{
  float: left;
  width: 300px;
  height: 60px;
}
.proc_logo{
  background: url("../test_logo.jpg") no-repeat top left;
  width: 100px;
  height: 60px;
  background-size: cover;
  float: left;
}
.proc_text{
  float: left;
  margin-top:30px;
  color: #7d7d7d;
  width: 82px;
  margin: 20px 0px 30px 118px;
}

.proc_shop_block{
  float: left;
  width: 300px;
  height: 20px;
  margin-top:10px;
}
.proc_shop_title{
  width: 100px;
  height: 20px;
  float: left;
  font-size: 14px;
}
.proc_shop_content{
  width: 200px;
  height: 20px;
  text-align: right;
  float: left;
  color: #888888;
  font-size: 14px;
}
.proc_amount_block{
  float: left;
  width: 300px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 12px;
}
.proc_amount_content{
  font-size: 28px;
  font-style: bold;
}


.proc_order_block{
  float: left;
  width: 300px;
  height: 50px;
  margin-top:10px;
}
.proc_order_title{
  width: 100px;
  height: 30px;
  float: left;
  font-size: 14px;
}

.proc_order_content{
  width: 200px;
  height: 30px;
  text-align: left;
  float: left;
  color: #888888;
  font-size: 14px;
}

#deposit_payment_system{
  float: left;
  width: 300px;
  border-radius: 4px;
  margin-top: 4px;
}

.simple_form_for_payment_deposit{
  float: left;
  width: 300px;
  height: 250px;
}
label[for=deposit_payment_system]{
  font-style: bold;
  font-size: 14px;

  margin: 6px 0px 0px 0px;
}

#withdrawal_payment_system{
  float: left;
  width: 300px;
  border-radius: 4px;
  margin-top: 4px;
}

.simple_form_for_payment_withdrawal{
  float: left;
  width: 300px;
  height: 250px;
}

label[for=withdrawal_payment_system]{
  font-style: bold;
  font-size: 14px;

  margin: 6px 0px 0px 0px;
}

label[for=withdrawal_card_number]{
  font-style: bold;
  font-size: 14px;

  margin: 6px 0px 0px 0px;
}

.alerts_block{
  float: left;
  font-size: 10px;
  line-height: 11px;
  color: #888888;
}

.confirm-payment-system-choose{
  float: left;
  width: 300px;
  border-radius: 4px;
  margin-top: 4px;
  background-color: white;
  height: 40px;
  border: 1px solid #ffa248;
  color: #ffa248;
  margin-bottom: 6px;
}
.confirm-payment-system-choose:hover{
  float: left;
  width: 300px;
  border-radius: 4px;
  margin-top: 4px;
  background-color: #ffa248;
  height: 40px;
  border: 1px solid #ffa248;
  color: white;
}
.confirm-payment-system-choose{
  float: left;
  height: 40px;
  width: 300px;
}
.please_pay_from_bank{
  font-size: 14px;
  float: left;
  height: 65px;
  width: 300px;
  margin: 14px 0px 0px 0px;
  line-height: 16px;

}
.uuid_payment_block{
  float: left;
  margin: 20px 0px 0px 0px;
  color: #dedede;
  font-size: 12px;
}
.cancel-payment-deposit{
  font-size: 14px;
  color: #888888;
  text-decoration: underline;
}
.proc_payment_waiting_block{
  float: left;
  width: 300px;
  height: 412px;
}
.proc_payment_waiting_img{
  margin-top: 40px;
  background: url("../spinner-loading.webp") no-repeat top left;
  width: 300px;
  height: 280px;
  background-size: contain;
  float: left;
}


.proc_card_sceomorph{
  float: left;
  width: 300px;
  height: 162px;
  padding: 21px 1px 10px 1px;
  background-color: #159e30;
  border-radius: 8px;
}


.proc_card_sceomorph_bank{
  margin-top: 40px;
  color: white;
  font-size: 20px;
  font-style: bold;
  padding-left:10px;
}
.proc_card_sceomorph_number{
  font-size: 19px;
  font-style: bold;
  color: #7d7d7d;
  background-color: white;
  padding-left:10px;
}
.proc_card_sceomorph_footer{
  background-color: #159e30;
}
.proc_send_summ{
  font-size: 14px;
  line-height: 14px;
  float: left;
  height: 109px;
  width: 300px;
  margin:14px 0px 10px 0px;
}


.proc_order_block2{
  float: left;
  width: 300px;
  height: 24px;
  margin-top:10px;
}
.proc_order_title2{
  width: 46px;
  height: 24px;
  float: left;
  font-size: 14px;
}
.proc_order_content2{
  width: 200px;
  height: 24px;
  text-align: left;
  float: left;
  color: #888888;
  font-size: 14px;
}

.proc_send_summ b{
  padding-bottom: 5px;
}


.countdown_payment_block_text{
  float: left;
  height: 14px;
  width: 300px;
  font-size: 14px;
  line-height: 14px;
  padding-top: 6px;
}


.payment-finished-button{
  float: left;
  width: 300px;
  border-radius: 4px;
  margin-top: 14px;
  background-color: white;
  height: 40px;
  border: 1px solid #ffa248;
  color: #ffa248;
  margin-bottom: 6px;
}
.payment-finished-button:hover{
  background-color: #ffa248;
  color: white;
}


.alerts_block_sending{
  float: left;
  font-size: 10px;
  line-height: 11px;
  color: #888888;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 90px;
  width: 300px;
}


.add_img_confirm{
  float: left;
  font-size: 14px;
  line-height: 14px;
  padding: 5px 0px 10px 0px;
}

#deposit_image{
  font-size: 14px;
}

.payment_image_tag_block{
  float: left;
  height: 115px;
  width: 300px;
}

.block_sending_cancel_on_img_form{
  float: left;
  height: 20px;
  width: 300px;
}


.clear{
  clear: both;
}

.error_messages_in_payments_forms{
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 4px;
  margin-bottom: 10px;
  float: left;
  font-size: 14px;
  min-height: 20px;
  color: red;
}

.proc_payment_done_img{
  margin-top: 40px;
  background: url("../green-spinner-loading.png") no-repeat top left;
  width: 300px;
  height: 280px;
  background-size: contain;
  float: left;
}

.proc_payment_done_block p{
  float: left;
  width: 300px;
  height: 24px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  font-style: bold;
  font-size: 18px;
}

.proc_payment_done_block{
  float: left;
  width: 300px;
  height: 412px;
}

.proc_payment_done_links_block{
  float: left;
  width: 300px;
  height: 100px;
  padding-top: 20px;
  text-align: center;
}


.proc_payment_done_links_block a{
  text-decoration: underline;
  color: #7d7d7d;
  width: 300px;
  text-align: center;
}

.proc_payment_done_links_block a:hover{
  color: black;
  font-style: bold;
}







.proc_payment_cancelled_img{
  margin-top: 40px;
  background: url("../red-spinner-loading.png") no-repeat top left;
  width: 300px;
  height: 280px;
  background-size: contain;
  float: left;
}

.proc_payment_cancelled_block p{
  float: left;
  width: 300px;
  height: 24px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  font-style: bold;
  font-size: 18px;
}

.proc_payment_cancelled_block{
  float: left;
  width: 300px;
  height: 412px;
}

.proc_payment_cancelled_links_block{
  float: left;
  width: 300px;
  height: 100px;
  padding-top: 20px;
  text-align: center;
}


.proc_payment_cancelled_links_block a{
  text-decoration: underline;
  color: #7d7d7d;
  width: 300px;
  text-align: center;
}

.proc_payment_cancelled_links_block a:hover{
  color: black;
  font-style: bold;
}


