/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require font
 */

.menu_block{
  /*border: 1px solid grey;*/
}

button, input[type=submit] {
  cursor: pointer;
}


#deposit_payment_system{
  float: left;
  width: 300px;
  border-radius: 4px;
  margin-top: 4px;
}

label[for=deposit_payment_system]{
  font-style: bold;
  font-size: 14px;

  margin: 6px 0px 0px 0px;
}

#withdrawal_payment_system{
  float: left;
  width: 300px;
  border-radius: 4px;
  margin-top: 4px;
}

label[for=withdrawal_payment_system]{
  font-style: bold;
  font-size: 14px;

  margin: 6px 0px 0px 0px;
}

label[for=withdrawal_card_number]{
  font-style: bold;
  font-size: 14px;

  margin: 6px 0px 0px 0px;
}

.clear{
  clear: both;
}

.proc_send_summ{
  font-size: 14px;
  line-height: 14px;
  float: left;
  width: 300px;
  margin:14px 0px 10px 0px;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.7);
  top: 0;
  left: 0;
}

.modal.show {
  display: flex;
  justify-content: center;
}

.modal_content {
  margin-top: 10px;
  background-color: white;
  border-radius: 15px;
  width: 360px;
  color: black;
  padding: 22px 30px 16px 30px;
}

.modal_amount {
  margin-top: 95px;
  background-color: white;
  border-radius: 15px;
  width: 360px;
  color: black;
  padding: 10px 30px
}














